nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  margin: 1rem;
}

nav ul li {
  color: white;
}

nav ul li:hover {
  color: grey;
  border-bottom: 2px solid grey;
  transform: scale(1.1);
}
